@import '~bulma';

html, body{
	background: #888;
}

@mixin flex ($alignItem: center, $justifyContent: center) {
	display: flex;
	align-items: $alignItem;
	justify-content: $justifyContent;
}

#app{
	margin-top: 0;
}

#chatroom{
	#set_name_modal{
		position: fixed;
		z-index: 5;
		width: 100%;
		height: 100%;
		background: rgba(#333, 1);
		transition: .3s;

		@include flex;
		.set_name_container{
			padding: 20px;
			border-radius: 5px;
			background: white;
		}
		&.close{
			opacity: 0;
			pointer-events: none;
		}
	}
	.main_pannel{
		overflow: hidden;
		margin: auto;
		margin-top: 50px;
		min-width: 300px;
		max-width: 600px;
		width: 100%;
		padding: 0 20px;
		.pannel_head{
			flex-direction: column;
			padding: 0 10px;
			border-radius: 5px 5px 0 0;
			background: #333;

			@include flex(flex-start, flex-start);
			.pannel_head_controls{
				padding: 5px 0;
				width: fit-content;

				@include flex;
				i{
					display: inline-block;
					margin-right: 8px;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					cursor: pointer;
					&.close{
						background: #ED6B5F;
					}
					&.min{
						background: #F6C351;
					}
					&.max{
						background: #62C755;
					}
				}
			}
			.pannel_head_user{
				padding: 5px 0;

				@include flex;
				.pannel_head_user_avatar{
					margin-right: 20px;
					width: 60px;
					height: 60px;
					border-radius: 50%;
					background-image: url('/static/avatar.jpg');
					background-position: center;
					background-size: cover;
				}
				.pannel_head_user_name{
					h4{
						color: white;
						font-weight: bold;
					}
				}
			}
		}
		.pannel_body{
			overflow: scroll;
			height: 500px;
			background: rgb(126, 208, 247);
			.message_block{
				.message_container{
					margin-bottom: 10px;
					padding: 10px;

					@include flex(flex-start, flex-start);
					.massage_other_avatar{
						margin-right: 15px;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						background-image: url('/static/avatar.jpg');
						background-position: center;
						background-size: cover;
					}
					.massage_content{
							flex-direction: column;

							@include flex(flex-start);
						.massage_other_name{
							margin-bottom: 5px;
							h6{
								font-size: 12px;
							}
						}
						.massage_text{
							@include flex(flex-end);
							p{
								margin-right: 10px;
								padding: 5px 14px;
								max-width: 200px;
								border-radius: 20px;
								background: white;
								text-align: left;
								word-break: break-all;
								font-size: 14px;
							}
							span.time{
								font-size: 10px;
							}
						}
					}
				}
				&.my_msg{
					.message_container{
						justify-content: flex-end;
						.massage_text{
							flex-direction: row-reverse;
							p{
								margin-right: 0;
								margin-left: 10px;
								background: rgb(131, 236, 75);
							}
						}
					}
				}
			}
		}
		.pannel_footer{
			padding: 10px;
			border-radius: 0 0 5px 5px;
			background-color: white;
			#msg_input{
				width: 100%;
				height: 80px;
				outline: none;
				border: none;
				resize: none;
			}
		}
	}
}